<div class="footer">
  <div class="footer-content">
    <div class="section" [@staggerNestedAnimations]>
      <div [@bounceInLeft]>
      <a href="https://github.com/klodianshaba/products" target="_blank" >
        <img alt="GitHub Logo" src="./assets/images/GitHub-Mark-32px.png">
      </a>
      </div>
      <div [@bounceInLeft]>
      <a href="https://www.linkedin.com/in/klodian-shaba-536269153/" target="_blank" >
        <img alt="GitHub Logo" src="./assets/images/In-Blue-Logo.png.original.png">
      </a>
      </div>
    </div>
    <div class="section">
      <strong class="fw-bold fs-5 copyright">&copy; Klodian Shaba</strong>
    </div>
  </div>
</div>
