@import "src/app/scss/partials/variables";
:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  display: flex;
  margin: 20px auto 32px;
  padding: 0 10px 40px 10px;
  max-width: $max-width;
  flex-direction: column;
  align-items: center;
  ::ng-deep app-product-form{
    width: 100%;
  }
}

/* Responsive Styles */
@media screen and (max-width: map_get($breakpoints, sm)) {
  .content{
    align-items: unset;
  }
}
