@import "src/app/scss/partials/variables";
@import "../../../../scss/partials/functions";
@import "../../../../scss/partials/mixins";

.add-product-content {
  width: auto;
  padding: map-get($padding, all);
  .avatar-content {
    display: flex;
    justify-content: space-between;
    > div{
      width: calc(100% - 130px);
    }
  }
  .flex-content{
    display: flex;
    justify-content: space-between;
    formify-input, formify-select{
      width: calc( 50% - 10px );
    }
  }
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: $border-color !important;
}

/* Responsive Styles */
@media screen and (max-width: $max-width) {
  .add-product-content{
    padding: map-get($padding, top-bottom);
  }
}









